// on homepage, want to see the posts that you have already created, 
// need to make sure you sign-in first 

<ol class="post-list">
    // #each iterates over a list 
    {{#each posts as |post| }}
    <li>
        // call partial 
        {{> post-info post}}
    </li>
    {{/each}}
</ol>